rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /venues/{venueId} {
      allow read: if true;
      allow write: if true;
    }
    match /plaza/{postId} {
      allow read: if true;
      allow write: if true;
      match /comments/{commentId} {
        allow read: if true;
        allow write: if true;
      }
    }
  }
}
