rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profiles/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /plaza/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /venues/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /chat/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /gallery/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /feeds/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /posts/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /socials/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /groups/{groupId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /cartoons/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
    match /events/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /Pics/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /scenes/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /people/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /coaching/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /lost_found/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /stays/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /rental/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /music365/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /tangoHistory/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /syncfit/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
    match /ai-tryon/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /ai-lesson/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
